# backend/src/main/resources/application.yml

spring:
  application:
    name: ai-security-monitor

  datasource:
    url: jdbc:postgresql://localhost:5432/securemonitor
    username: securemonitor
    password: localdev123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080
